.asidebar-main {
    & .asidebar-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        width: 10rem;
        gap: 2rem;
        margin-left: 1rem;
        & button {
            width: 100%;
            text-align: left;
        }
    }
    & .logout {
        margin: 15rem 0 0 1rem;
        & button {
            width: 10rem;
            text-align: left;
        }
    }
    /* ASidebar.css */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-actions {
    margin-top: 20px;
}

.modal-actions button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.modal-actions button:hover {
    background-color: #0056b3;
}

.modal-actions button:last-child {
    background-color: #6c757d;
}

.modal-actions button:last-child:hover {
    background-color: #5a6268;
}

}